In [22]:
import pandas as pd
import csv
import requests
from bs4 import BeautifulSoup
import numpy as np

In [25]:
f1 = pd.read_csv('forest_cover.csv')

In [26]:
t1 = pd.read_csv('tree_cover.csv')

In [27]:
t2 = t1.drop([37])

In [28]:
t3 = t2.drop(['State/UT'], axis = 1)

In [29]:
t3.head()

,Tree_Cover-2001,Tree_Cover-2003,Tree_Cover-2005,Tree_Cover-2009,Tree_Cover-2011,Tree_Cover-2013,Tree_Cover-2015,Tree_Cover-2017,Tree_Cover-2019
0,"9,011","12,120","7,640","7,191","7,152","7,187","3,965","3,753","3,914"
1,478,363,446,592,549,660,761,807,848
2,"1,942",935,"1,484","1,590","1,564","1,582","1,613","1,496","1,408"
3,"3,693","1,620","2,522","2,495","2,369","2,164","2,182","2,263","2,003"
4,"3,535","6,723","4,492","4,027","3,866","3,463","3,629","3,833","4,248"

In [30]:
g = pd.concat([f1, t3], axis=1, sort=False)

In [31]:
g1 = g.drop([36])

In [32]:
green_cover = pd.DataFrame(g1)
cols = [0, 1, 2, 5, 9, 13, 17, 21, 25, 29, 33, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46]
green_cover = green_cover[green_cover.columns[cols]]

In [33]:
green_cover.rename(columns={'Total-2001':'Forest_Cover-2001', 'Total-2003':'Forest_Cover-2003', 'Total-2005':'Forest_Cover-2005', 
            'Total-2007':'Forest_Cover-2007', 'Total-2011':'Forest_Cover-2011', 'Total-2013':'Forest_Cover-2013', 
            'Total-2015':'Forest_Cover-2015', 'Total-2017':'Forest_Cover-2017', 'Total-2019':'Forest_Cover-2019'}, 
           inplace=True)

In [34]:
green_cover.dtypes

State/UT                   object
Geographical Area_1-13     object
Geographical Area_15-19    object
Forest_Cover-2001          object
Forest_Cover-2003          object
Forest_Cover-2005          object
Forest_Cover-2007          object
Forest_Cover-2011          object
Forest_Cover-2013          object
Forest_Cover-2015          object
Forest_Cover-2017          object
Forest_Cover-2019          object
Tree_Cover-2001            object
Tree_Cover-2003            object
Tree_Cover-2005            object
Tree_Cover-2009            object
Tree_Cover-2011            object
Tree_Cover-2013            object
Tree_Cover-2015            object
Tree_Cover-2017            object
Tree_Cover-2019            object
dtype: object

In [35]:
for col in green_cover.iloc[:, 1:].columns: 
    green_cover[col] = green_cover[col].str.replace(",","").astype(int)

In [36]:
#Forest_Cover-2009--> index: 7 
green_cover.insert(7, column='Forest_Cover-2009', value = [44902, 67853, 27792, 6004, 55903, 173, 2154, 14804, 1554, 14458, 
                                                           21986, 22794, 36330, 16324, 76900, 48650, 17256, 17021, 18940, 
                                                           13564, 48555, 1614, 15936, 3297, 22838, 0, 8083, 14241, 24480, 
                                                           12694, 6722, 16, 218, 7, 24, 42])

In [37]:
#Tree_Cover-2007--> index: 16 
green_cover.insert(16, column='Tree_Cover-2007', value = [7340, 516, 1554, 2512, 4292, 116, 277, 7921, 1485, 679, 6133, 3054, 
                                                          5567, 2732, 6667, 9178, 169, 475, 152, 268, 4518, 1723, 8376, 23, 
                                                          5221, 0, 157, 7803, 661, 2369, 48, 10, 28, 9, 4, 37])

In [38]:
green_cover.dtypes

State/UT                   object
Geographical Area_1-13      int32
Geographical Area_15-19     int32
Forest_Cover-2001           int32
Forest_Cover-2003           int32
Forest_Cover-2005           int32
Forest_Cover-2007           int32
Forest_Cover-2009           int64
Forest_Cover-2011           int32
Forest_Cover-2013           int32
Forest_Cover-2015           int32
Forest_Cover-2017           int32
Forest_Cover-2019           int32
Tree_Cover-2001             int32
Tree_Cover-2003             int32
Tree_Cover-2005             int32
Tree_Cover-2007             int64
Tree_Cover-2009             int32
Tree_Cover-2011             int32
Tree_Cover-2013             int32
Tree_Cover-2015             int32
Tree_Cover-2017             int32
Tree_Cover-2019             int32
dtype: object

In [39]:
green_cover.to_csv('green_cover.csv', na_rep='Null', float_format='%.2f', index=False, encoding='utf-8')#area in km2

In [48]:
t = pd.DataFrame(green_cover)
cols = [0, 2]
t = t[t.columns[cols]]

In [52]:
t.rename(columns={'State/UT':'State/UT', 'Geographical Area_15-19':'Geographical Area'}, inplace=True)
t.head()

            State/UT  Geographical Area
0     Andhra Pradesh             160204
1  Arunachal Pradesh              83743
2              Assam              78438
3              Bihar              94163
4       Chhattisgarh             135191

In [55]:
cover = green_cover['Forest_Cover-2001'] + green_cover['Tree_Cover-2001']
t['2001'] = cover
cover = green_cover['Forest_Cover-2003'] + green_cover['Tree_Cover-2003']
t['2003'] = cover
cover = green_cover['Forest_Cover-2005'] + green_cover['Tree_Cover-2005']
t['2005'] = cover
cover = green_cover['Forest_Cover-2007'] + green_cover['Tree_Cover-2007']
t['2007'] = cover
cover = green_cover['Forest_Cover-2009'] + green_cover['Tree_Cover-2009']
t['2009'] = cover
cover = green_cover['Forest_Cover-2011'] + green_cover['Tree_Cover-2011']
t['2011'] = cover
cover = green_cover['Forest_Cover-2013'] + green_cover['Tree_Cover-2013']
t['2013'] = cover
cover = green_cover['Forest_Cover-2015'] + green_cover['Tree_Cover-2015']
t['2015'] = cover
cover = green_cover['Forest_Cover-2017'] + green_cover['Tree_Cover-2017']
t['2017'] = cover
cover = green_cover['Forest_Cover-2019'] + green_cover['Tree_Cover-2019']
t['2019'] = cover

In [56]:
t.head()

,State/UT,Geographical Area,2001,2003,2005,2007,2009,2011,2013,2015,2017,2019
0,Andhra Pradesh,160204,53648,56539,52012,52442,52093,51571,51559,28389,31900,33051
1,Arunachal Pradesh,83743,68523,68382,68223,67869,68445,68568,68437,68009,67771,67536
2,Assam,78438,29656,28761,29129,29246,29382,29390,29227,29236,29601,29735
3,Bihar,94163,9413,7178,8101,9316,8499,7927,7743,9470,9562,9309
4,Chhattisgarh,135191,59983,62721,60355,60162,59930,59864,59326,59215,59380,59859

In [58]:
t.dtypes

State/UT             object
Geographical Area     int32
2001                  int32
2003                  int32
2005                  int32
2007                  int64
2009                  int64
2011                  int32
2013                  int32
2015                  int32
2017                  int32
2019                  int32
dtype: object

In [57]:
t.to_csv('Total_Green_Cover.csv', na_rep='Null', float_format='%.2f', index=False, encoding='utf-8')#area in km2