In [1]:
import pandas as pd
import csv
import requests
from bs4 import BeautifulSoup

In [2]:
f1 = pd.read_csv('forest_1to5.csv')
f1.head()

,State/UT,Geographical Area,Very dense forest-2001,Open forest-2001,Total-2001,Very dense forest-2003,Mod. dense forest-2003,Open forest-2003,Total-2003,Very dense forest-2005,Mod. dense forest-2005,Open forest-2005,Total-2005
0,Andhra Pradesh,"2,75,069","25,827","18,810","44,637",23,"24,356","20,040","44,419",130,"24,199","20,043","44,372"
1,Arunachal Pradesh,"83,743","53,932","14,113","68,045","13,907","39,604","14,508","68,019","14,411","37,977","15,389","67,777"
2,Assam,"78,438","15,830","11,884","27,714","1,684","11,358","14,784","27,826","1,444","11,387","14,814","27,645"
3,Bihar,"94,163","3,372","2,348","5,720",76,"2,951","2,531","5,558",110,"3,004","2,465","5,579"
4,Chhattisgarh,"1,35,191","37,880","18,568","56,448","1,540","37,440","17,018","55,998","2,256","36,472","17,135","55,863"

In [3]:
f2 = pd.read_csv('forest_7to13.csv')
f2.head()

,State/UT,Geographical Area,Very dense forest-2007,Mod. dense forest-2007,Open forest-2007,Total-2007,Very dense forest-2011,Mod. dense forest-2011,Open forest-2011,Total-2011,Very dense forest-2013,Mod. dense forest-2013,Open forest-2013,Total-2013
0,Andhra Pradesh,"2,75,069",820,"24,757","19,525","45,102",23,"24,356","20,040","44,419",130,"24,199","20,043","44,372"
1,Arunachal Pradesh,"83,743","20,858","31,556","14,939","67,353","13,907","39,604","14,508","68,019","14,411","37,977","15,389","67,777"
2,Assam,"78,438","1,461","11,558","14,673","27,692","1,684","11,358","14,784","27,826","1,444","11,387","14,814","27,645"
3,Bihar,"94,163",231,"3,248","3,325","6,804",76,"2,951","2,531","5,558",110,"3,004","2,465","5,579"
4,Chhattisgarh,"1,35,191","4,162","35,038","16,670","55,870","1,540","37,440","17,018","55,998","2,256","36,472","17,135","55,863"

In [4]:
f3 = pd.read_csv('forest_15.csv')
f3.head()

,State/UT,Geographical Area,Very dense forest-2015,Mod. dense forest-2015,Open forest-2015,Total-2015,Percent of Geographical Area,Scrub
0,Andhra Pradesh,"1,60,204",375,"13,093","10,956","24,424",15.25,"8,562"
1,Arunachal Pradesh,"83,743","20,804","31,301","15,143","67,248",80.30,264
2,Assam,"78,438","1,441","11,268","14,914","27,623",35.22,384
3,Bihar,"94,163",248,"3,376","3,664","7,288",7.74,120
4,Chhattisgarh,"1,35,191","4,152","34,846","16,588","55,586",41.12,117

In [5]:
f4 = pd.read_csv('forest_17.csv')
f4.head()

,State/UT,Geographical Area,Very dense forest-2017,Mod. dense forest-2017,Open forest-2017,Total-2017,Percent of Geographical Area,Scrub
0,Andhra Pradesh,"1,62,968","1,957","14,051","12,139","28,147",17.27,"9,560"
1,Arunachal Pradesh,"83,743","20,721","30,955","15,288","66,964",79.96,247
2,Assam,"78,438","2,797","10,192","15,116","28,105",35.83,217
3,Bihar,"94,163",332,"3,260","3,707","7,299",7.75,228
4,Chhattisgarh,"1,35,192","7,064","32,215","16,268","55,547",41.09,552

In [6]:
f5 = pd.read_csv('forest_19.csv')
f5.head()

,State/UT,Geographical Area,Very dense forest-2019,Mod. dense forest-2019,Open forest-2019,Total-2019,Percent of Geographical Area,Scrub
0,Andhra Pradesh,"1,62,968","1,994","13,938","13,205","29,137",17.88,"8,255"
1,Arunachal Pradesh,"83,743","21,095","30,557","15,036","66,688",79.63,229
2,Assam,"78,438","2,795","10,279","15,253","28,327",36.11,173
3,Bihar,"94,163",333,"3,280","3,693","7,306",7.76,250
4,Chhattisgarh,"1,35,192","7,068","32,198","16,345","55,611",41.13,610

In [7]:
df1 = f2.drop(['State/UT', 'Geographical Area'], axis = 1)
df1.head()

,Very dense forest-2007,Mod. dense forest-2007,Open forest-2007,Total-2007,Very dense forest-2011,Mod. dense forest-2011,Open forest-2011,Total-2011,Very dense forest-2013,Mod. dense forest-2013,Open forest-2013,Total-2013
0,820,"24,757","19,525","45,102",23,"24,356","20,040","44,419",130,"24,199","20,043","44,372"
1,"20,858","31,556","14,939","67,353","13,907","39,604","14,508","68,019","14,411","37,977","15,389","67,777"
2,"1,461","11,558","14,673","27,692","1,684","11,358","14,784","27,826","1,444","11,387","14,814","27,645"
3,231,"3,248","3,325","6,804",76,"2,951","2,531","5,558",110,"3,004","2,465","5,579"
4,"4,162","35,038","16,670","55,870","1,540","37,440","17,018","55,998","2,256","36,472","17,135","55,863"

In [8]:
forest1 = pd.concat([f1, df1], axis=1, sort=False)

In [9]:
print(forest1)

                State/UT Geographical Area Very dense forest-2001  \
0         Andhra Pradesh          2,75,069                 25,827
1      Arunachal Pradesh            83,743                 53,932
2                  Assam            78,438                 15,830
3                  Bihar            94,163                  3,372
4           Chhattisgarh          1,35,191                 37,880
5                  Delhi             1,483                     38
6                    Goa             3,702                  1,785
7                Gujarat          1,96,022                  8,673
8                Haryana            44,212                  1,139
9       Himachal Pradesh            55,673                 10,429
10       Jammu & Kashmir          2,22,236                 11,848
11             Jharkhand            79,714                 11,787
12             Karnataka          1,91,791                 26,156
13                Kerala            38,863                 11,772
14        Madhya Pradesh          3,08,245                 44,384
15           Maharashtra          3,07,713                 30,894
16               Manipur            22,327                  5,710
17             Meghalaya            22,429                  5,681
18               Mizoram            21,081                  8,936
19              Nagaland            16,579                  5,393
20                Orissa          1,55,707                 27,972
21                Punjab            50,362                  1,549
22             Rajasthan          3,42,239                  6,322
23                Sikkim             7,096                  2,391
24            Tamil Nadu          1,30,058                 12,499
25               Tripura            10,486                  3,463
26         Uttar Pradesh          2,40,928                  8,965
27           Uttarakhand            53,483                 19,023
28           West Bengal            88,752                  6,346
29         A & N Islands             8,249                  6,593
30            Chandigarh               114                      5
31  Dadra & Nagar Haveli               491                    151
32           Daman & Diu               112                      2
33           Lakshadweep                32                     27
34            Puducherry               480                     35
35                 Total         32,87,263               4,16,809

   Open forest-2001 Total-2001 Very dense forest-2003 Mod. dense forest-2003  \
0            18,810     44,637                     23                 24,356
1            14,113     68,045                 13,907                 39,604
2            11,884     27,714                  1,684                 11,358
3             2,348      5,720                     76                  2,951
4            18,568     56,448                  1,540                 37,440
5                73        111                      0                     52
6               310      2,095                      0                  1,255
7             6,479     15,152                    114                  6,231
8               615      1,754                      2                    518
9             3,931     14,360                  1,093                  7,883
10            9,389     21,237                  2,102                  8,395
11           10,850     22,637                  2,544                  9,137
12           10,835     36,991                    431                 22,030
13            3,788     15,560                    334                  9,294
14           32,881     77,265                  4,000                 37,843
15           16,588     47,482                  8,070                 20,317
16           11,216     16,926                    720                  5,818
17            9,903     15,584                    168                  6,323
18            8,558     17,494                     84                  7,404
19            7,952     13,345                     57                  5,650
20           20,866     48,838                    288                 27,882
21              883      2,432                      0                    743
22           10,045     16,367                     14                  4,482
23              802      3,193                    458                  1,904
24            8,983     21,482                  2,440                  9,567
25            3,602      7,065                     58                  4,988
26            4,781     13,746                  1,297                  4,699
27            4,915     23,938                  4,002                 14,420
28            4,347     10,693                  2,303                  3,742
29              337      6,930                  3,475                  2,809
30                4          9                      1                      8
31               68        219                      0                    145
32                4          6                      0                      2
33                0         27                      0                     12
34                1         36                      0                     17
35         2,58,729   6,75,538                 51,285               3,39,279

   Open forest-2003 Total-2003 Very dense forest-2005  ... Open forest-2007  \
0            20,040     44,419                    130  ...           19,525
1            14,508     68,019                 14,411  ...           14,939
2            14,784     27,826                  1,444  ...           14,673
3             2,531      5,558                    110  ...            3,325
4            17,018     55,998                  2,256  ...           16,670
5               118        170                      0  ...              120
6               901      2,156                     55  ...            1,016
7             8,601     14,946                    114  ...            8,995
8               997      1,517                      3  ...            1,104
9             5,377     14,353                  1,097  ...            5,061
10           10,770     21,267                  2,135  ...            9,411
11           11,035     22,716                  2,544  ...           10,405
12           13,988     36,449                    464  ...           14,232
13            5,949     15,577                  1,024  ...            6,471
14           34,586     76,429                  4,239  ...           36,046
15           18,478     46,865                  8,191  ...           21,077
16           10,681     17,219                    923  ...           11,105
17           10,348     16,839                    338  ...            7,410
18           10,942     18,430                    133  ...           12,855
19            7,902     13,609                    236  ...            7,293
20           20,196     48,366                    538  ...           20,388
21              837      1,580                      0  ...              931
22           11,330     15,826                     14  ...           11,514
23              900      3,262                    498  ...              696
24           10,636     22,643                  2,650  ...           10,196
25            3,047      8,093                     61  ...            3,192
26            8,122     14,118                  1,297  ...            8,152
27            6,043     24,465                  4,002  ...            5,568
28            6,298     12,343                  2,302  ...            5,363
29              680      6,964                  3,359  ...              495
30                6         15                      1  ...                6
31               80        225                      0  ...               97
32                6          8                      0  ...                5
33               11         23                      0  ...               10
34               23         40                      0  ...               31
35         2,87,769   6,78,333                 54,569  ...         2,88,377

   Total-2007 Very dense forest-2011 Mod. dense forest-2011 Open forest-2011  \
0      45,102                     23                 24,356           20,040
1      67,353                 13,907                 39,604           14,508
2      27,692                  1,684                 11,358           14,784
3       6,804                     76                  2,951            2,531
4      55,870                  1,540                 37,440           17,018
5         177                      0                     52              118
6       2,151                      0                  1,255              901
7      14,620                    114                  6,231            8,601
8       1,594                      2                    518              997
9      14,668                  1,093                  7,883            5,377
10     22,686                  2,102                  8,395           10,770
11     22,894                  2,544                  9,137           11,035
12     36,190                    431                 22,030           13,988
13     17,324                    334                  9,294            5,949
14     77,700                  4,000                 37,843           34,586
15     50,650                  8,070                 20,317           18,478
16     17,280                    720                  5,818           10,681
17     17,321                    168                  6,323           10,348
18     19,240                     84                  7,404           10,942
19     13,464                     57                  5,650            7,902
20     48,855                    288                 27,882           20,196
21      1,664                      0                    743              837
22     16,036                     14                  4,482           11,330
23      3,357                    458                  1,904              900
24     23,338                  2,440                  9,567           10,636
25      8,073                     58                  4,988            3,047
26     14,341                  1,297                  4,699            8,122
27     24,495                  4,002                 14,420            6,043
28     12,994                  2,303                  3,742            6,298
29      6,662                  3,475                  2,809              680
30         17                      1                      8                6
31        211                      0                    145               80
32          6                      0                      2                6
33         26                      0                     12               11
34         44                      0                     17               23
35   6,90,899                 51,285               3,39,279         2,87,769

   Total-2011 Very dense forest-2013 Mod. dense forest-2013 Open forest-2013  \
0      44,419                    130                 24,199           20,043
1      68,019                 14,411                 37,977           15,389
2      27,826                  1,444                 11,387           14,814
3       5,558                    110                  3,004            2,465
4      55,998                  2,256                 36,472           17,135
5         170                      0                     54              122
6       2,156                     55                  1,095            1,014
7      14,946                    114                  6,024            8,577
8       1,517                      3                    523            1,061
9      14,353                  1,097                  7,831            5,441
10     21,267                  2,135                  8,394           10,744
11     22,716                  2,544                  9,078           10,969
12     36,449                    464                 21,634           13,153
13     15,577                  1,024                  8,636            5,935
14     76,429                  4,239                 36,843           34,931
15     46,865                  8,191                 20,193           19,092
16     17,219                    923                  5,541           10,622
17     16,839                    338                  6,808            9,842
18     18,430                    133                  6,173           12,378
19     13,609                    236                  5,602            7,881
20     48,366                    538                 27,656           20,180
21      1,580                      0                    723              835
22     15,826                     14                  4,456           11,380
23      3,262                    498                  1,912              852
24     22,643                  2,650                  9,790           10,604
25      8,093                     61                  4,969            3,125
26     14,118                  1,297                  4,682            8,148
27     24,465                  4,002                 14,396            6,044
28     12,343                  2,302                  3,777            6,334
29      6,964                  3,359                  2,646              624
30         15                      1                      8                6
31        225                      0                    130               91
32          8                      0                      2                6
33         23                      0                     15               10
34         40                      0                     17               25
35   6,78,333                 54,569               3,32,647         2,89,872

   Total-2013
0      44,372
1      67,777
2      27,645
3       5,579
4      55,863
5         176
6       2,164
7      14,715
8       1,587
9      14,369
10     21,273
11     22,591
12     35,251
13     15,595
14     76,013
15     47,476
16     17,086
17     16,988
18     18,684
19     13,719
20     48,374
21      1,558
22     15,850
23      3,262
24     23,044
25      8,155
26     14,127
27     24,442
28     12,413
29      6,629
30         15
31        221
32          8
33         25
34         42
35   6,77,088

[36 rows x 25 columns]

In [10]:
forest1.head()

,State/UT,Geographical Area,Very dense forest-2001,Open forest-2001,Total-2001,Very dense forest-2003,Mod. dense forest-2003,Open forest-2003,Total-2003,Very dense forest-2005,...,Open forest-2007,Total-2007,Very dense forest-2011,Mod. dense forest-2011,Open forest-2011,Total-2011,Very dense forest-2013,Mod. dense forest-2013,Open forest-2013,Total-2013
0,Andhra Pradesh,"2,75,069","25,827","18,810","44,637",23,"24,356","20,040","44,419",130,...,"19,525","45,102",23,"24,356","20,040","44,419",130,"24,199","20,043","44,372"
1,Arunachal Pradesh,"83,743","53,932","14,113","68,045","13,907","39,604","14,508","68,019","14,411",...,"14,939","67,353","13,907","39,604","14,508","68,019","14,411","37,977","15,389","67,777"
2,Assam,"78,438","15,830","11,884","27,714","1,684","11,358","14,784","27,826","1,444",...,"14,673","27,692","1,684","11,358","14,784","27,826","1,444","11,387","14,814","27,645"
3,Bihar,"94,163","3,372","2,348","5,720",76,"2,951","2,531","5,558",110,...,"3,325","6,804",76,"2,951","2,531","5,558",110,"3,004","2,465","5,579"
4,Chhattisgarh,"1,35,191","37,880","18,568","56,448","1,540","37,440","17,018","55,998","2,256",...,"16,670","55,870","1,540","37,440","17,018","55,998","2,256","36,472","17,135","55,863"

In [11]:
forest1.to_csv('forest_1to13.csv', na_rep='Null', float_format='%.2f', index=False, encoding='utf-8')#area in km2

In [12]:
df2 = f3.drop(['Percent of Geographical Area', 'Scrub'], axis = 1)
df2.head()

,State/UT,Geographical Area,Very dense forest-2015,Mod. dense forest-2015,Open forest-2015,Total-2015
0,Andhra Pradesh,"1,60,204",375,"13,093","10,956","24,424"
1,Arunachal Pradesh,"83,743","20,804","31,301","15,143","67,248"
2,Assam,"78,438","1,441","11,268","14,914","27,623"
3,Bihar,"94,163",248,"3,376","3,664","7,288"
4,Chhattisgarh,"1,35,191","4,152","34,846","16,588","55,586"

In [13]:
df3 = f4.drop(['State/UT', 'Geographical Area', 'Percent of Geographical Area', 'Scrub'], axis = 1)
df3.head()

  Very dense forest-2017 Mod. dense forest-2017 Open forest-2017 Total-2017
0                  1,957                 14,051           12,139     28,147
1                 20,721                 30,955           15,288     66,964
2                  2,797                 10,192           15,116     28,105
3                    332                  3,260            3,707      7,299
4                  7,064                 32,215           16,268     55,547

In [14]:
df4 = f5.drop(['State/UT', 'Geographical Area', 'Percent of Geographical Area', 'Scrub'], axis = 1)
df4.head()

  Very dense forest-2019 Mod. dense forest-2019 Open forest-2019 Total-2019
0                  1,994                 13,938           13,205     29,137
1                 21,095                 30,557           15,036     66,688
2                  2,795                 10,279           15,253     28,327
3                    333                  3,280            3,693      7,306
4                  7,068                 32,198           16,345     55,611

In [15]:
r = pd.concat([df2, df3], axis=1, sort=False)

In [16]:
forest2 = pd.concat([r, df4], axis=1, sort=False)

In [17]:
print(forest2)

                State/UT Geographical Area Very dense forest-2015  \
0         Andhra Pradesh          1,60,204                    375
1      Arunachal Pradesh            83,743                 20,804
2                  Assam            78,438                  1,441
3                  Bihar            94,163                    248
4           Chhattisgarh          1,35,191                  4,152
5                  Delhi             1,483                   6.94
6                    Goa             3,702                    542
7                Gujarat          1,96,022                    376
8                Haryana            44,212                     27
9       Himachal Pradesh            55,673                  3,224
10      Jammu & Kashmir*          2,22,236                  4,061
11             Jharkhand            79,714                  2,588
12             Karnataka          1,91,791                  1,781
13                Kerala            38,863                  1,523
14        Madhya Pradesh          3,08,245                  6,629
15           Maharashtra          3,07,713                  8,712
16               Manipur            22,327                    727
17             Meghalaya            22,429                    449
18               Mizoram            21,081                    138
19              Nagaland            16,579                  1,296
20                Odisha          1,55,707                  7,023
21                Punjab            50,362                      0
22             Rajasthan          3,42,239                     76
23                Sikkim             7,096                    500
24            Tamil Nadu          1,30,058                  2,993
25             Telangana          1,14,865                    513
26               Tripura            10,486                    113
27         Uttar Pradesh          2,40,928                  2,195
28           Uttarakhand            53,483                  4,754
29           West Bengal            88,752                  2,948
30         A & N Islands             8,249                  5,686
31            Chandigarh               114                   1.36
32  Dadra & Nagar Haveli               491                      0
33           Daman & Diu               112                    1.4
34           Lakshadweep                32                      0
35            Puducherry               480                      0
36          Grand Total          32,87,263                 85,904

   Mod. dense forest-2015 Open forest-2015 Total-2015 Very dense forest-2017  \
0                  13,093           10,956     24,424                  1,957
1                  31,301           15,143     67,248                 20,721
2                  11,268           14,914     27,623                  2,797
3                   3,376            3,664      7,288                    332
4                  34,846           16,588     55,586                  7,064
5                   57.15           124.68     188.77                   6.72
6                     580            1,102      2,224                      5
7                   5,220            9,064     14,660                    378
8                     452            1,105      1,584                     28
9                   6,381            5,091     14,696                  3,110
10                  8,815           10,112     22,988                  4,075
11                  9,663           11,227     23,478                  2,598
12                 20,063           14,577     36,421                  4,502
13                  9,301            8,415     19,239                  1,663
14                 34,902           35,931     77,462                  6,563
15                 20,747           21,169     50,628                  8,736
16                  5,925           10,342     16,994                    908
17                  9,584            7,184     17,217                    453
18                  5,858           12,752     18,748                    131
19                  4,695            6,975     12,966                  1,279
20                 21,470           21,861     50,354                  6,967
21                    735            1,036      1,771                      8
22                  4,426           11,669     16,171                     78
23                  2,160              697      3,357                  1,081
24                 10,469           12,883     26,345                  3,672
25                 12,712            8,366     21,591                  1,596
26                  4,609            3,089      7,811                    656
27                  4,060            8,206     14,461                  2,617
28                 13,602            5,884     24,240                  4,969
29                  4,172            9,708     16,828                  2,994
30                    685              380      6,751                  5,678
31                  14.09             6.58      22.03                   1.36
32                     80              126        206                      0
33                   5.82            12.39      19.61                   1.40
34                  17.22             9.84      27.06                      0
35                  29.68             25.7      55.38                      0
36               3,15,374         3,00,395   7,01,673                 98,158

   Mod. dense forest-2017 Open forest-2017 Total-2017 Very dense forest-2019  \
0                  14,051           12,139     28,147                  1,994
1                  30,955           15,288     66,964                 21,095
2                  10,192           15,116     28,105                  2,795
3                   3,260            3,707      7,299                    333
4                  32,215           16,268     55,547                  7,068
5                   56.24           129.45     192.41                   6.72
6                     576            1,115      2,229                    538
7                   5,200            9,179     14,757                    378
8                     452            1,108      1,588                     28
9                   6,705            5,285     15,100                  3,113
10                  8,579           10,587     23,241                  4,281
11                  9,686           11,269     23,553                  2,603
12                 20,444           12,604     37,550                  4,501
13                  9,407            9,251     20,321                  1,935
14                 34,571           36,280     77,414                  6,676
15                 20,652           21,294     50,682                  8,721
16                  6,510            9,928     17,346                    905
17                  9,386            7,307     17,146                    489
18                  5,861           12,194     18,186                    157
19                  4,587            6,623     12,489                  1,273
20                 21,370           23,008     51,345                  6,970
21                    806            1,023      1,837                      8
22                  4,340           12,154     16,572                     78
23                  1,575              688      3,344                  1,102
24                 10,979           11,630     26,281                  3,605
25                  8,738           10,085     20,419                  1,608
26                  5,246            1,824      7,726                    654
27                  4,069            7,993     14,679                  2,617
28                 12,884            6,442     24,295                  5,047
29                  4,147            9,706     16,847                  3,019
30                    684              380      6,742                  5,678
31                  13.82             6.38      21.56                   1.36
32                     80              127        207                      0
33                   5.82            13.27      20.49                   1.40
34                  17.04            10.06      27.10                      0
35                  17.60            36.07      53.67                      0
36               3,08,318         3,01,797   7,08,273                 99,278

   Mod. dense forest-2019 Open forest-2019 Total-2019
0                  13,938           13,205     29,137
1                  30,557           15,036     66,688
2                  10,279           15,253     28,327
3                   3,280            3,693      7,306
4                  32,198           16,345     55,611
5                   56.42           132.30     195.44
6                     576            1,123      2,237
7                   5,092            9,387     14,857
8                     451            1,123      1,602
9                   7,126            5,195     15,434
10                  8,612           10,719     23,612
11                  9,687           11,321     23,611
12                 21,048           13,026     38,575
13                  9,508            9,701     21,144
14                 34,341           36,465     77,482
15                 20,572           21,485     50,778
16                  6,386            9,556     16,847
17                  9,267            7,363     17,119
18                  5,801           12,048     18,006
19                  4,534            6,679     12,486
20                 21,552           23,097     51,619
21                    801            1,040      1,849
22                  4,342           12,210     16,630
23                  1,552              688      3,342
24                 11,030           11,729     26,364
25                  8,787           10,187     20,582
26                  5,236            1,836      7,726
27                  4,080            8,109     14,806
28                 12,805            6,451     24,303
29                  4,160            9,723     16,902
30                    684              381      6,743
31                  14.24             6.43      22.03
32                     80              127        207
33                   5.69            13.40      20.49
34                  16.09            11.01      27.10
35                  17.66            34.75      52.41
36               3,08,472         3,04,499   7,12,249

In [18]:
forest2.to_csv('forest_15to19.csv', na_rep='Null', float_format='%.2f', index=False, encoding='utf-8')#area in km2